/* Variables  */
:root {
    --small-margin: 5px;
    --medium-margin: 10px;
    --large-margin: 18px
}

/* Styles */
body {
    font-family: 'Lucida Grande', 'Verdana', sans-serif;
    background-color: aliceblue;
    margin-left: var(--medium-margin);
}

nav li {
    vertical-align: center;
    margin-left: var(--medium-margin);
    display: inline;
}

nav a {
    padding: var(--medium-margin);
    border: 3px dotted deeppink;
}

h3, nav {
    margin-top: var(--large-margin);
    margin-bottom: var(--large-margin);
    text-transform: capitalize;
}

footer a {
    text-decoration: overline;
}

img {
    max-height: 80px;
    margin-bottom: var(--small-margin);
}

h3 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-shadow: 4px 4px 4px #999999;
    color: deeppink;
}

#leading {
    line-height: 400%;
    word-spacing: 1em;
    letter-spacing: 4px;
}